<p id="notice"><%= notice %></p>

<p>
  <strong>Van year:</strong>
  <%= @van.vyear %>
</p>

<p>
  <strong>Van make:</strong>
  <%= @van.vmake %>
</p>

<p>
  <strong>Van model:</strong>
  <%= @van.vmodel %>
</p>

<p>
  <strong>Van Id:</strong>
  <%= @van.id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @van.notes %>
</p>

<p>
  <strong>Available:</strong>
  <%= @available %>
</p

<p>
  <strong>Rentals:</strong>
  <% @van.rentals.each do |rentalx| %>
    <p class="ps-1"> - 
      <%= rentalx.user.name %> Id:
      <%= rentalx.user.id %>
    </p>
    <p class="ps-4">Rented On: 
      <%= rentalx.rented_date %>
    </p>
    <% if rentalx.return_date.nil? || rentalx.return_date.to_date.future? %>
      <p class="ps-4"> Estimate Return Date: 
        <%= rentalx.estimate_return_date %>
      </p>
    <% else %>
      <p class="ps-4"> Returned On: 
        <%= rentalx.return_date %>
      </p>
    <% end %>
    <p class="ps-4">Rental Id: 
      <%= rentalx.id %>
    </p>
  <% end %>
</p>


<%= link_to 'Edit', edit_van_path(@van) %> |
<%= link_to 'Back', vans_path %>
