<p id="notice"><%= notice %></p>

<h1>Rentals</h1>

<table class="table">
  <thead>
    <tr>
      <th>Rental Id</th>
      <th>Condition</th>
      <th>Return date</th>
      <th>Estimate return date</th>
      <th>Rented date</th>
      <th>User's Name</th>
      <th>User's Id</th>
      <th>Rentable Type</th>
      <th>Rentable Id</th>
      <th>Rentable Name</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.id %></td>
        <td><%= rental.condition %></td>
        <td><%= rental.return_date %></td>
        <td><%= rental.estimate_return_date %></td>
        <td><%= rental.rented_date %></td>
        <td><%= User.find(rental.user_id).name %></td>
        <td><%= User.find(rental.user_id).id %></td>
        <td><%= rental.rentable_type %></td>
        <td><%= rental.rentable_id %></td>
        <td><%= get_rentable(rental).name %></td>
        <td><%= link_to 'Show', rental %></td>
        <td><%= link_to 'Edit', edit_rental_path(rental) %></td>
        <td><%= link_to 'Destroy', rental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental', new_rental_path %>
