<p id="notice"><%= notice %></p>

<p>
  <strong>Condition:</strong>
  <%= @rental.condition %>
</p>

<p>
  <strong>Return ate:</strong>
  <%= @rental.return_ate %>
</p>

<p>
  <strong>Estimatte return date:</strong>
  <%= @rental.estimatte_return_date %>
</p>

<p>
  <strong>Rented date:</strong>
  <%= @rental.rented_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @rental.user_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @rental.item_id %>
</p>

<p>
  <strong>Id:</strong>
  <%= @rental.id %>
</p>


<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
