<p id="notice"><%= notice %></p>
<p>
  <strong>Rental Id:</strong>
  <%= @rental.id %>
</p>
<p>
  <strong>Condition:</strong>
  <%= @rental.condition %>
</p>

<p>
  <strong>Return date:</strong>
  <% if @rental.return_date.nil? || @rental.return_date.future? %>
    Currently out
  <% else %>
    <%= @rental.return_date %>
  <% end %>
</p>

<p>
  <strong>Estimatte return date:</strong>
  <%= @rental.estimate_return_date %>
</p>

<p>
  <strong>Rented date:</strong>
  <%= @rental.rented_date %>
</p>

<p>
  <strong>User Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>User Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Rentable Category:</strong>
  <%= get_rentable(@rental).model_name %>
</p>

<p>
  <strong>Rentable Id:</strong>
  <%= get_rentable(@rental).id %>
</p>

<p>
  <strong>Rentable Name:</strong>
  <%= get_rentable(@rental).name %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
