<p id="notice"><%= notice %></p>
<p>
  <strong>Rental Id:</strong>
  <%= @rental.id %>
</p>
<p>
  <strong>Condition:</strong>
  <%= @rental.condition %>
</p>

<p>
  <strong>Return ate:</strong>
  <%= @rental.return_date %>
</p>

<p>
  <strong>Estimatte return date:</strong>
  <%= @rental.estimate_return_date %>
</p>

<p>
  <strong>Rented date:</strong>
  <%= @rental.rented_date %>
</p>

<p>
  <strong>User Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>User Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Item Id:</strong>
  <%= @item.id %>
</p>

<p>
  <strong>Item Nmae:</strong>
  <%= @item.name %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
