<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn number:</strong>
  <%= @book.isbn_number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @book.notes %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @book.teacher %>
</p>

<p>
  <strong>Id:</strong>
  <%= @book.id %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @available %>
</p>

<p>
  <strong>Rentals:</strong>
  <% @book.rentals.each do |rentalx| %>
    <p class="ps-1"> - 
      <%= rentalx.user.name %> Id:
      <%= rentalx.user.id %>
    </p>
    <p class="ps-4">Rented On: 
      <%= rentalx.rented_date %>
    </p>
    <% if rentalx.return_date.nil? || rentalx.return_date.to_date.future? %>
      <p class="ps-4"> Estimate Return Date: 
        <%= rentalx.estimate_return_date %>
      </p>
    <% else %>
      <p class="ps-4"> Returned On: 
        <%= rentalx.return_date %>
      </p>
    <% end %>
    <p class="ps-4">Rental Id: 
      <%= rentalx.id %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
