<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn number:</strong>
  <%= @book.isbn_number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @book.notes %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @book.teacher %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @available %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
