<%= form_with(model: @user, url: path) do |form| %>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <% if request.path == "/user_management/new" %>

    <div class="field">
      <%= form.label :password %>
      <%= form.text_field :password %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.text_field :password_confirmation %>
    </div>

  <% end %>

  <div class="field">
    <%= form.label :id_number %>
    <%= form.text_field :id_number %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= form_with(model: @role, url: path) do |form| %>
  <% if request.path == "/user_management/edit" %>
    <div class="field">
      <%= form.label :role %>
      <% @roles.each do |role| %>
        <div class="form-check">
          <% if user.roles.index(role) %>
            <%= form.radio_button(:role_id, role.id, :checked => 'checked') %>
            <%= form.label(role.id, role.name) %>
          <% else %>
            <%= form.radio_button(:role_id, role.id) %>
            <%= form.label(role.id, role.name) %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit "Update User's Role"%>
    </div>
  <% end %>
<% end %>