<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>School ID</th>
      <th>Phone Number</th>
      <th>E-mail Account</th>
      <th>Id</th>
      <th>Role</th>
      <th>Role Id</th>
      <th>Late Items</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |userx, index| %>
      <tr>
        <td> <%= userx.name %> </td>
        <td> <%= userx.id_number %> </td>
        <td> <%= userx.phone %> </td>
        <td> <%= userx.email %> </td>
        <td> <%= userx.id %> </td>
        <% userx.roles.each do |rolex| %>
          <td> <%= rolex.name %> </td>
          <td> <%= rolex.id %> </td>
        <% end %>
        <% if @status[index] == "No Rented Items" %>
          <td> <%= @status[index] %> </td>
        <% elsif @status[index] == "No Late Items" %>
          <td class="text-primary"> <%= @status[index] %> </td>
        <% else %>
          <td class="text-danger"> <%= @status[index] %> </td>
        <% end %>
        <td><%= link_to 'Show', user_management_show_path(id: userx.id) %></td>
        <td><%= link_to 'Edit', user_management_edit_path(id: userx.id) %></td>
        <td><%= link_to "Delete", user_registration_path(userx, id: userx.id), :method => :delete, data: { confirm: 'Are you sure you want to delete this user?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', user_management_new_path %>
