<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>School Id:</strong>
  <%= @user.id_number %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>E Mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <% @user.roles.each do |rolex| %>
    <p class="ps-1"> - 
      <%= rolex.name %>
    </p>
  <% end %>
</p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Rentals:</strong>
  <% @user.rentals.each do |rentalx| %>
    <p class="ps-1"> - 
      <%= rentalx.item.name %>
      Id: 
      <%= rentalx.item_id %>
    </p>

    <p class="ps-4">Rented On: 
      <%= rentalx.rented_date %>
    </p>

    <% if rentalx.return_date.nil? || rentalx.return_date.to_date.future? %>
      <p class="ps-4"> Estimate Return Date: 
        <%= rentalx.estimate_return_date %>
      </p>
    <% else %>
      <p class="ps-4"> Returned On: 
        <%= rentalx.return_date %>
      </p>
    <% end %>
    <p class="ps-4">Rental Id: 
      <%= rentalx.id %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', user_management_edit_path(id: @user.id) %> |
<%= link_to 'Back', user_management_assign_roles_path %>