<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>School Id:</strong>
  <%= @user.id_number %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>E Mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>E Mail:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', user_management_edit_path(id: @user.id) %> |
<%= link_to 'Back', user_management_assign_roles_path %>